{% extends "base.html" %}
{% block title %} {{ title }}{% endblock %}
{% block body %}
<section>
    <div class="ai-seating-plan-header">
        <div class="container">
            {% block resultheader %}{% endblock %}
        </div>
    </div>
    <div class="container">
      <div class="archive">
        {% for table in seating %}
          {% if seating[table]|length > 0 %}
            <article class="seatingplan">
                <p><strong>{{ table }}</strong></p> <br/>
                {% for guest in seating[table] %}
                  <em>{{ guest }}</em>
                  <hr>
                {% endfor %}
            </article>
          {% endif %}
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}