<html>
<head>
    <title>Seating Plan</title>
    <style type="text/css">

    th:tr{
        color: blue;

    }
    tr:nth-of-type(2n){
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);

    }

    td{
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>
</head>
<body>
<table style="margin-left: 20px;">
    <th>
        <tr style="color: green;">
            <td>Table</td>
            <td>Guests</td>
        </tr>
    </th>
    {% for table in seating %}
    <tr>
        <td>{{ table }}</td>
        <td>
            {% if seating[table]|length > 0 %}
                {% for guest in seating[table] %}
                    <b>{{ guest }}</b><br/>
                {% endfor %}
            {% else %}
               No Guest
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>